@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out;
  }
  .btn:hover {
    @apply bg-blue-700;
  }
  .input {
    @apply border border-gray-300 rounded py-2 px-4;
  }
  .input:focus {
    @apply outline-none border-blue-500;
  }
  .fade-in {
    @apply opacity-0 transition-opacity duration-500;
  }
  .fade-in-visible {
    @apply opacity-100;
  }
}
